[submodule "components/components/lvgl_esp32_drivers"]
	path = components/components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "include/esp-nimble-cpp"]
	path = include/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp.git
[submodule "include/eigen"]
	path = include/eigen
	url = https://gitlab.com/libeigen/eigen.git
