# Kconfig file for SUDOCHEF board prototypes

menu "AAA SUDOBOARD menu"

    config TESTOPTION_YAY
        bool "Enable test option"

    choice SB_DESIGN
        prompt "Select predefined display configuration"
        default SB_PREDEFINED_NONE
        help
            Select predefined SudoBoard display configuration

        config SB_PREDEFINED_NONE
            bool "None"

        config SB_V1_HALF_ILI9341
            bool "V1 Half ILI9341"
            select LV_SB_V1_HALF_ILI9341
        
            
    endchoice

endmenu

